/* >>>>>>>>>>>>>>>blog page>>>>>>>>>>>>>>> */
a{
    text-decoration: none;
}

.blog-banner {
    height: fit-content;
    margin: 0;
    padding: 0;
}

.blog-banner-img{
    object-fit: cover;
    width: 100%;
    height: 60vh;
    transition: height 1s;
}
/* blog-search style */
.search-container {
    display: flex;
    padding: 0 16px;
}

.search-form-container {
    margin: auto;
    background-color: white;
    width: 100%;
    max-width: 628px;
    height: 64px;
    border-radius: 8px;
    transform: translateY(-55%);
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
}
.search-icon {
    color: #1E283C;
    fill: transparent;
    stroke: #1E283C70;
    stroke-width: 2;
    width: 19px;
    min-width: 19px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#query {
    border: none;
    color: #1E283C;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    outline: none;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 500;
}

.vertical-divider {
    height: 55%;
    width: 2px;
    background-color: #e7e7e9;
    margin-right: 24px;
}

.search-submit-btn {
    all: unset;
    color: #1E283C;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
/* end blog-search style */
.blog{
    text-transform: uppercase;
}
.blog-sec{
    margin-top: 30px;
}
.blog-cards {
    padding: 20px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}
.blog-cards a{
    margin:20px;
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.06), 12px 12px 24px rgba(30, 40, 60, 0.16);
    border-radius: 18px;
    transition: .5s ease-in-out;
}

.blog-cards a:hover{
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.04), 12px 12px 24px rgba(30, 40, 60, 0.12);
    transform: scale(1.008, 1.008) translateY(-4px);
    
}
.section-hr{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 130px;
}
.blogs{
    grid-column-gap: 20px;
}
.blog-image {
    height: 15.938rem;
    width: 100%;
    border-radius: 18px 18px 0px 0px;
    height: 13.938rem;
    object-fit: cover;
}
.blog-detail{
    background-color: #FFFFFF;
    width: 100%;
    padding: 22px 30px 20px;
    border-radius: 0px 0px 18px 18px;
}
.blog-date{
    color: #50668F;
    font-size: 12px;
    margin-bottom: 15px;
}
.blog-title{
    color: #1E283C;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
}
.mid-txt{
    border: 6px solid #1E283C;
    width: 38%;
    background: #1E283C;
    border-radius: 5px;
    height: 10px;
}
.section-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    color: #1E283C;
}
.pagination{
    display: flex;
    justify-content: center;
    padding: 54px 0px;
    align-items: center;
}
.prev-pg,.current-pg{
    padding: 5px 15px;
    font-weight: 500;
}
.active-pg{
    border-radius: 3px;
    border: 3px solid #583DCC;
}
/******************************************************MEDIA QUERIES*********************************************************************/
/***********Full View(screen and 1200px)***********/
@media (min-width:1200px) and (max-width:1400px){
    .section-hr {
        padding: 40px 50px;
    }
    .blog-cards {
        padding: 20px 80px;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
    .blog-cards a{
        margin: 0px;
    }
}

/***********Desktop View(992px and 1199px)***********/
@media (min-width:992px) and (max-width:1199px){
    .section-hr {
        padding: 40px 30px;
    }
    .blog-cards {
        padding: 20px 30px;
        grid-column-gap: 15px;
        grid-row-gap: 20px;
    }
    .blog-cards a {
        margin: 10px;
    }
}

/***********Medium Desktop View(767px and 992px)***********/
@media (min-width:768px) and (max-width:991px){
    .blog-banner-img {
        height: 420px;
    }
    .section-hr {
        padding: 40px 30px;
    }
    .mid-txt {
        width: 34%;
    }
    .section-title {
        font-size: 50px;
    }
    .blog-cards a {
        margin: 0px;
    }
    .blog-cards {
        padding: 20px 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 20px;
    }    
    .blog-image {
        width: 100%;
    }
}

/***********Mobile medium View(566px and 767px)***********/
@media (min-width:567px) and (max-width:767px) {
    .blog-banner-img {
        height: 350px;
    }
    .hid-mob{
        display: none;
    }
    .section-hr {
        padding: 40px 50px;
    justify-content: space-between;
    }
    .mid-txt {
        width: 62%;
    }
    .section-title {
        font-size: 50px;
    }
    .blog-cards a {
        margin: 0px;
    }
    .blog-cards {
        padding: 20px 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 30px;
    }    
    .blog-image {
        width: 100%;
    }
}

/***********Mobile View(567px)***********/
@media (max-width:566px){
    .blog-banner-img {
        height: 250px;
    }
    .hid-mob{
        display: none;
    }
    .section-hr {
        padding: 40px 16px;
    justify-content: space-between;
    }
    .mid-txt {
        width: 62%;
    }
    .section-title {
        font-size: 50px;
    }
    .blog-cards a {
        margin: 0px;
    }
    .blog-cards {
        padding: 20px 16px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 30px;
    }    
    .blog-image {
        width: 100%;
    }

    /* Blog Search  */
    
    .vertical-divider {
        display: none;
    }
    .search-submit-btn {
        display: none;
    }

    /* End Blog Search  */
}



/* Search result heading */

.search-result-container {
    display: flex;
    padding: 0 16px;
}

.search-res {
    margin: 54px 200px 24px 200px;
    transition: all .5s ;
}

.search-result-heading {
    color: #1E283C;
    font-size: 54px;
    
}

.query-res {
    color: #1E283C;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .search-res {
        margin: 54px 64px 24px 64px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .search-res {
        margin: 54px 30px 24px 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .search-res {
        margin: 54px 14px 24px 14px;
    }
}
@media (min-width: 567px) and (max-width: 767px) {
    .search-res {
        margin: 54px 34px 24px 34px;
    }
}
@media (max-width: 566px) {
    .search-res {
        margin: 24px 0;
    }
    .search-result-heading {
        font-size: 42px;
    }
    .query-res {
        margin-top: 18px;
        font-size: 18px;
    }
}

/* Search result heading */