/* blog-page */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.page{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.blog-page-content{
    padding: 122px 306px;
    transition: 1s all ease;
}
.txt-head{
    font-weight: 600;
    font-size: 30px;
    line-height: 179.4%;
    color: #1E283C;
    margin: 26px 0px;
}
.blog-banner{
    position: relative;
    z-index: -2;
}
.blog-info{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    padding: 0px 306px;
}
.tag-inline{
    display: inline-block;
}
.blog-dat{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    display: inline-block;
    padding: 20px 30px;
}
.tag-inline a{
    background-color: white;
    padding: 20px 45px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 114.9%;
    text-align: center;
    color: #1E283C;
}
.txt{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #50668F;
    margin-top: 6px;
}
.margin-tp{
    margin-top: 20px;
}
.author{
    margin-left: auto;
    width: 340px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    color: #50668F;
}
.blog-banner-img{
    object-fit: cover;
    width: 100%;
    height: 60vh;
    transition: height 1s;
}
.blog-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 126.9%;
    color: #1E283C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 61px;
    width: 62rem;
}

/*++++++++++++++++++Aside styling+++++++++++++++++*/
.blog-latest-post-container{
    display: flex;
    justify-content: space-between;
}
.blog-content{
    width: 67%;
}
.blog-side-posts{
    width: 29%;
    margin-top: 35px;
    position: relative;
    height: 100%;
}
.blog-side-posts{
    position: sticky;
    top: 0;
}
.blog_card a{
    display: flex;
}

.blog_card{
    margin-bottom: 24px;
    transition: .25s ease-in-out;
}
.blog_card:hover{
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.04), 12px 12px 24px rgba(30, 40, 60, 0.06);
    transform: scale(1.008, 1.008) translateY(-4px);
}

.blog_card-details{
    padding-left: 15px;
}
.blog-post-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    color: #1E283C;
    margin: 12px 0px 20px;
}
.blog_card-img{
    Width:120px;
    Height:86px;
}
.blog_card-title{
    font-weight: 500;
    font-size: 15px;
    line-height: 145%;
    color: #1E283C;
    margin-bottom: 15px;
}
.blog_card-date{
    font-size: 12px;
    line-height: 100%;
    color: #50668F;
}

/* recent blogs */
.recent-blogs{
   padding: 40px 306px;
}
.blog-cards{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.blog-card{
    border-radius: 18px;
    box-shadow: -3px -3px 24px rgba(33, 41, 79, 0.06), 12px 12px 24px rgba(33, 41, 79, 0.16);
    width: 25rem;
}
.section-title{
    font-weight: bold;
    font-size: 54px;
    line-height: 100%;
    color: #1E283C;
}
.section-hr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.mid-txt{
    background: #1E283C;
    border-radius: 5px;
    width: 70%;
    height: 1rem;
}
.blog-image{
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog-detail{
    padding: 25px 18px;
}
.blog-date{
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 15px;
    color: #50668F;
}
.recent-blog-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    color: #1E283C;

}
/******************************************************MEDIA QUERIES*********************************************************************/
/***********Full View(screen and 1200px)***********/
@media (min-width:1200px) and (max-width:1400px){
    .blog-info{
        padding: 0px 180px;
    }
    .blog-page-content {
        padding: 122px 140px;
    }
    .blog-title {
        width: auto;
    }
    .blog_card-title {
        margin-bottom: 10px;
    }
    .recent-blogs {
        padding: 40px 180px;
    }
    .hid{
        display: none;
    }
    .mid-txt {
        width: 52%;
    }
}

/***********Desktop View(992px and 1199px)***********/
@media (min-width:992px) and (max-width:1199px){
    .blog-info{
        padding: 0px 120px;
    }
    .blog-page-content{
        padding: 122px 120px; 
    }
    .blog-banner-img {
        height: 30rem;
    }
    .blog-page-content{
        padding: 122px 70px; 
    }

    .blog-title {
        width: auto;
        margin-bottom: 20px;
    }
    .blog_card-title {
        margin-bottom: 10px;
    }
    .recent-blogs {
        padding: 122px 70px; 
    }
    .section-title {
        font-size: 44px;
    }
    .mid-txt {
        width: 48%;
    }
    .blog-card {
        width: 30rem;
    }
    .blog-image {
        width: 100%;
    }
    .blog-cards a{
        margin-bottom: 35px;
    }
}
/***********Medium Desktop View(767px and 992px)***********/
@media (min-width:768px) and (max-width:991px){
    .blog-info{
        padding: 0px 70px;
    }
    .blog-banner-img {
        height: 30rem;
    }
    .blog-page-content{
        padding: 122px 70px; 
    }
    .blog-title {
        width: auto;
        margin-bottom: 20px;
    }


    .blog-latest-post-container {
        flex-direction: column;
    }
    .blog-content{
        width: 100%;
    }
    .blog-side-posts{
        width: 100%;
    }
    .recommend-blogs ul, .popular-blogs ul{
        display: flex;
    }

    .trending-blogs ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog_card-details {
        padding: 10px;
    }
    .blog_card-title {
        margin-bottom: 10px;
    }
    .recent-blogs {
        padding: 122px 70px; 
    }
    .section-title {
        font-size: 44px;
    }
    .mid-txt {
        width: 48%;
    }
    .blog-card {
        width: 30rem;
    }
    .blog-image {
        width: 100%;
    }
    .blog-cards a{
        margin-bottom: 35px;
    }
}
/***********Mobile medium View(566px and 767px)***********/
@media (min-width:567px) and (max-width:767px) {
    .blog-banner-img {
        height: 350px;
    }
    .blog-title {
        font-size: 38px;
        width: auto;
        text-shadow: none;
        margin-bottom: 5px;
    }
    .txt-head {
        font-size: 24px;
    }
    .txt {
        font-size: 20px;
    }
    .blog-info{
        padding: 0px 60px;
    }
    .blog-page-content {
        padding: 52px 60px;
    }
    .blog-content {
        width: 100%;
    }
    .blog-latest-post-container {
        flex-direction: column;
    }
    .blog-side-posts {
        width: 100%;
    }
    .blog-post-title {
        margin: 40px 0px 20px;
    }
    .recent-blogs {
       display: none;
    }
}
/***********Mobile View(567px)***********/
@media (max-width:566px){
    .blog-banner-img {
        height: 241px;
    }
    .blog-title {
        font-size: 28px;
        width: auto;
        text-shadow: none;
        margin-bottom: 5px;
    }
    .txt-head {
        font-size: 22px;
    }
    .txt {
        font-size: 20px;
    }
    .tag-inline a,.blog-dat{
        padding: 15px 15px;
        font-size: 14px;
    }    
    .blog-info{
        padding: 0px 16px;
    }
    .blog-page-content {
        padding: 54px 16px; 
    }
    .blog-content {
        width: 100%;
    }
    .blog-latest-post-container {
        flex-direction: column;
    }
    .blog-side-posts {
        width: 100%;
    }
    .blog-post-title {
        margin: 40px 0px 20px;
    }
    .recent-blogs {
       display: none;
    }
}