/* Gallery Section */
.section-hr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 130px;
}
.mid-txt{
    border: 6px solid #1E283C;
    width: 38%;
    background: #1E283C;
    border-radius: 5px;
    height: 10px;
}
.section-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    color: #1E283C;
}


.gallery-section{
    padding:70px 240px;
}
.gallery-grid-landing{
   display: grid;
   grid-template-rows: 17.313rem 17.313rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    width: 100%;
}
.margin-btm{
    margin-bottom: 35px;
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}


/******************************************************MEDIA QUERIES*********************************************************************/
/***********Full View(screen and 1200px)***********/
@media (min-width:1200px) and (max-width:1400px){
    
    /* gallery section */

    .section-hr {
        padding: 10px 110px;
    }
    .mid-txt {
        width: 35%;
    }

    .gallery-section{
        padding: 70px 130px;
    }
    .gallery-grid-landing {
        grid-template-rows: 15.313rem 15.313rem;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }
}


/***********Desktop View(992px and 1199px)***********/
@media (min-width:992px) and (max-width:1199px){
    /* gallery section */
    .section-hr {
        padding: 20px 80px;
    }
    .mid-txt {
        width: 35%;
    }
    .gallery-section {
        padding: 40px 80px;
    }
    .gallery-grid-landing {
        grid-template-rows: 15.313rem 15.313rem;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 25px;
    }
}

/***********Medium Desktop View(767px and 992px)***********/
@media (min-width:768px) and (max-width:991px){
    
    /* gallery-section */
    .section-hr {
        padding: 20px 60px;
    }
    .mid-txt {
        width: 35%;
    }
    .gallery-section{
        padding: 50px 60px;
    }
    .gallery-grid-landing {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1fr;
        grid-row-gap: 1fr;
    }
    
}

/***********Mobile medium View(566px and 767px)***********/
@media (min-width:567px) and (max-width:767px) {
    .section-hr{
        padding: 40px;
    }
    .mid-txt {
        width: 27%;
    }
    .section-title {
        font-size: 50px;
    }

    /* gallery-section */
    .gallery-section{
        padding: 50px 16px;
    }
    .gallery-grid-landing {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 25px;
    }

}

/***********Mobile View(567px)***********/
@media (max-width:566px){
    /* galler-section */

    .section-hr{
        padding: 40px 16px;
    }
    .hid-mob {
        display: none;
    }
    .mid-txt {
        width: 60%;
    }
    .section-title {
        font-size: 50px;
    }
    .gallery-section{
        padding: 54px 16px;
        text-align: center;
        background-image: none;
    }
    .gallery-grid-landing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 15px;
        grid-column-gap: 10px;
    }
    .mid-img {
        margin: 0px;
    }
    .image img {
        height: 7.63rem;
        width: 100%;
        border-radius: 13px;
    }
    .gallery-grid{
        display: block;
        width: auto;
        margin-top: 40px;
    }

    .weight{
        width: auto;
        font-size: 20px;
    }
    .statement{
        padding: 10px 15px;
    }
    .slider-testimonial {
        margin: 54px 0px;
    }

    /* querry section */
    .querry-section {
        padding: 54px 16px;
    }
    .querry-image {
        display: none;
    }
    .input-field{
        float: none;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    .input{
        margin: 0px auto;
    }
    #name-input, #email-input, #subject-input {
        width: 100%;
    }
    #message-input {
        width: 100%;
    }
    .msg-btn{
        margin-right: auto;
    }
}