*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* *******************Navbar Css*********************** */
.container-lp{
    background-image: url(../img/Untitled\ design\ \(28\).png);
    background-size: 100% 100%;
    height: 920px;
}
.container-nav{
    display: flex;
    text-transform: uppercase;
    padding: 36px 130px;
    width: 100%;
    align-items: center;
}
.nav-brand-logo{
    height: 60px;
    width: 130px;
}
.nav-items{
    text-align: center;
    margin-left: auto;
    letter-spacing: 1.5px;
}
.nav-item{
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin: 0px 20px;
}
.nav-link{
    color:#1E283C;
    text-decoration: none;
}
.active{
    color: #585c64;
}
.nav-link:hover{
    color: #585c64;
}
.nav-btn{
    display: inline-block;
    margin-right: 10px;
}
.log-btn{
    display: inline-block;
    margin-top: 13px;
}
.login-btn{
    text-decoration: none;
    padding: 12px 35px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background-color:#7F1AFE;
}
.login-btn:hover{
    background-color: #933bff;
    transition: 0.6s;
}
.mobile{
    display: none;
}
.show-mobile{
    display: none;
}
/*<<<<<<<<<<<<<<<<Hamburger styling <<<<<<<<<<< */
.mobile-nav{
    display: none;
}
.hamburger{
    display: none;
    margin-left: auto;
    position: relative;
    width: 35px;
    cursor: pointer;
    appearance: none;
    z-index: 99;
    background: transparent;
    border: none;
}
.hamburger .bar{
    width: 90%;
}
.hamburger::before{
   width: 65%;
}
.hamburger::after{
    width: 55%;
}
.hamburger .bar,.hamburger::before,.hamburger::after{
    content: "";
    display: block;
    height:  3.7px;
    background-color: #1E283C;
    margin: 5px 0px;
    transition: 0.4s;
    border-radius: 5px;
}
.hamburger.is-active.hamburger::before{
    transform: rotate(-45deg) translate(-7px,6px);
    background-color: white;
    width: 100%;
}
.hamburger.is-active.hamburger::after{
    transform: rotate(45deg) translate(-6px,-6px);
    background-color: white;
    width: 100%;
}
.hamburger.is-active .bar{
    opacity: 0;
 }

/*************************Banner Section*****************************/
.banner-section{
    display: flex;
    justify-content: space-between;
    padding-left: 230px;
    width: 100%;
}
/* banner-left-section */
.banner-left-section{
    width: 40%;
    margin-top: 40px;
}
.stats-number-hidden{
  display: none;
}
.banner-right-section-hidden{
    display: none;
}
.tagline{
    color: #1E283C;
    font-weight: bold;
    font-size: 76px;
    line-height: 116.9%;
}
.banner-text-content{
    color: #50668F;
    font-weight: normal;
    font-size: 22px;
    line-height: 179.4%;
    margin-top: 25px;
}
.banner-btn{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.contact-btn{
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    background-color: #7F1AFE;
    padding: 18px 40px;
    border-radius: 4px;
}
.contact-btn:hover{
    background-color: #933bff;
    transition: 0.6s;
}
.see-blog-btn{
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color:#262626;
    text-decoration: none;
    background-color: #F2F5FA;
    padding: 18px 50px;
    border-radius: 8px;
}
.see-blog-btn:hover{
    background-color: #cacaca;
    transition: 0.3s;
}
.stats-number{
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin-top: 70px;
}
.stats-no{
    color: #1E283C;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
}
.stats-txt{
    color: #50668F;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 126.9%;
}
.m-show{
    display: none;
}
/*banner-right-section*/
.banner-right-section{
    width: 60%;
}
.banner-img{
    width: 100%;
    height: 48.5rem;
    object-fit: cover;
}

/***************** feature secton *************/
.feature-section{
    padding: 122px 240px;
    position: relative;
}
.section-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #1E283C;
}
.slider-feature{
    margin-top: 60px;
    position: relative;
}
.feature-img img{
    height: 60px;
}
.feature-list{
    display: flex;
    list-style: none;
    font-size: 16px;
    overflow: auto;
}
.feature-list::-webkit-scrollbar{
    display: none;
}
.feature-item{
    background-color:#F2F5FA;
    padding: 47px 40px;
    border-radius: 16px;
    flex: 0 0 420px;
    margin: 0px 20px;
}
.card-title{
    color: #1E283C;
    font-weight: 500;
    font-size: 22px;
    line-height: 114.9%;
    margin-bottom: 20px;
}
.feature-text{
    margin-top: 30px;
}
.card-define{
    color: #50668F;
    font-size: 18px;
    line-height: 182.4%;
    margin-top: 20px;
}
.arrow-btn1{
    position: absolute;
    left: -88px;
    top: 43%;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.arrow-btn2{
    position: absolute;
    top: 44%;
    right: -79px;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.arrow-btn-img{
    height: 20px;
    width: 12px;
}
#first-li{
    margin-left: 0px;
}
#last-li{
    margin-right: 30px;
    margin-left: 0px;
}


/***************** Acheiver secton *************/
.acheiver-section{
    background-color:#F2F5FA;
    padding: 86px 240px;
    position: relative;
}
.section-title-below{
    font-size: 16px;
    color: #50668F;
    margin-top: 15px;
    text-align: center;
}
.slider-acheiver{
    margin-top: 30px;
}
.acheiver-list{
    display: flex;
    list-style: none;
    font-size: 16px;
    overflow: auto;
}
.acheiver-list::-webkit-scrollbar{
    display: none;
}
.acheiver-item{
    background-color: #FFFFFF;
    border-radius: 16px;
    flex: 0 0 346px;
    margin: 32px 24px;
    padding: 32px 30px;
    box-shadow: -3px -3px 24px rgb(30 40 60 / 6%), 12px 12px 24px rgb(30 40 60 / 16%);
}
.wid{
    width: 500px !important;
}
#first-li-acheiver{
    margin-left: 0px;
}
.acheiver-title{
    color: #1E283C;
    font-size: 28px;
    line-height: 114.9%;
    margin-bottom: 10px;
    font-weight: 600;
}
.acheiver-text{
    margin-top: 16px;
}
.acheiver-define{
    color: #1E283C;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.mark{
    font-weight: 600;
}

.acheiver-img img{
    border-radius: 14px;
    height: 96px;
    width: 96px;
}
.acheiver-detail{
    float: right;
    vertical-align: top;
    margin-top: 22px;
}
.batch-acheiver{
    color: #1E283C;
    font-weight: 600;
    font-size: 20px;
    line-height: 114.9%;
}
.batch{
    text-align: center;
    color: #50668F;
}
.arrow_btn1{
    position: absolute;
    left: 150px;
    top: 58%;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.arrow_btn2{
    position: absolute;
    top: 58%;
    right: 157px;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
/*************difference-section************/
.diff-feature-section{
    padding: 122px 240px;
}
.card-difference{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 70px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
}
.two-line{
    width: 700px;
    margin: 20px auto;
    line-height: 25px;
}
.card-logo{
    margin-bottom: 25px;
    height: 40px;
    width: 40px;
}
.margin{
    margin-bottom: 15px;
}
.extra{
    margin-bottom: 30px;
}
.card-item{
    padding: 26px 20px;
    background-color: #F2F5FA;
    border-radius: 16px;
}
/**************BLOG section*****************/
.blog-posts{
    background-image: url(..//img/Home/blog-section/Vector\ Pattern.png);
    background-color:#F2F5FA;
    background-size: 100%;
    padding:110px 240px;
}
.blogs{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 45px;
    grid-template-rows: 1fr;
}
.blogs a{
    text-decoration: none;
}
.blog-image{
    height: 15.938rem;
    width: 100%;
    border-radius: 18px 18px 0px 0px;
}
.blog-detail{
    background-color: #FFFFFF;
    width: 100%;
    padding: 22px 30px 20px;
    border-radius: 0px 0px 18px 18px;
}
.blog-date{
    color: #50668F;
    font-size: 12px;
    margin-bottom: 13px;
}
.blog-title{
    color: #1E283C;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
}
.toblog-btn{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #7F1AFE;
    padding: 16px 0px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
}
.toblog-btn a{
    text-decoration: none;
    color: white;
}

/**************Sub-title section*****************/
.sub-title-section{
    background-color: #1E283C;
    color: #ffffff;
    padding: 135px 0px;
}
.sub-title{
    width: 890px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 54px;
    line-height: 137%;
}
/**************Testimonial section*****************/
.testimonial-section{
    background-color:#ffffff;
    padding: 122px 240px;
    position: relative;
    margin: 0px;
}
.testimonial-list{
    display: flex;
    list-style: none;
    font-size: 16px;
    overflow: auto;
}
.testimonial-list::-webkit-scrollbar{
    display: none;
}
.testimonial-item{
    background-color: #FFFFFF;
    border-radius: 16px;
    flex: 0 0 420px;
    margin: 0px 20px;
    text-align: center;
}

.testimonial{
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-bottom: none;
    border-radius: 16px 16px 0px 0px;
}
.testimonial img{
    margin-bottom: 20px;
}
.statement{
    color: #65738f;
    padding: 30px 24px 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 182.4%;
    text-align: center;
}
.statement  img{ 
    margin-bottom: 20px;
}
.testimonial-detail{
    font-size: 18px;
    background-color: #F2F5FA;
    padding: 15px 0px;
    border-radius: 0px 0px 16px 16px
}
.testimonial-detail img{
    height: 60px;
    width: 60px;
}
.user-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 114.9%; 
    color: #1E283C;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
}
.arrow_test_btn1{
    position: absolute;
    left: 150px;
    top: 50%;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.arrow_test_btn2{
    position: absolute;
    top: 50%;
    right: 157px;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.first-test{
    margin-left: 0px;
}
/* Gallery Section */
.gallery-section{
    background-image: url(..//img/Home/blog-section/Vector\ Pattern.png);
    background-color:#F2F5FA;
    background-size: 100%;
    padding:70px 240px;
}
.gallery-grid-landing{
   display: grid;
   grid-template-rows: 17.313rem 17.313rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
}
.margin-btm{
    margin-bottom: 35px;
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.togal-btn{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #7F1AFE;
    padding: 18px 0px;
    width: 190px;
    margin: auto;
    margin-top: 50px;
}
.togal-btn a{
    text-decoration: none;
    color: white;
}
/* querry-section */
.querry-section{
    padding: 122px 240px;
}
.input-field{
    display: inline-block;
    margin-left: 80px;
    vertical-align: top;
    margin-top: 20px;
    color: #1E283C;
    font-size: 14px;
}
.querry-image{
    height: 450px;
    width: 670px;
    margin-left: 70px;
}
.flex-querry{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#name-input,#email-input,#subject-input,#message-input{
    margin-bottom: 15px;
    background-color: #DFE6F1;
    border: none;
    border-radius: 5px;
}
#name-input,#email-input,#subject-input{
    width: 570px;
    height: 41px;
}
#message-input:focus{
   padding-top: 10px;
}
#message-input{
    width: 570px;
    height: 160px;
    padding-left: 10px;
    padding-top: 10px;
}
textarea { resize: none; }
#name-input,#email-input,#subject-input,#message-input:focus{
    outline: none;
    font-size: 14px;
    color: #50668F;
    padding: 0px 10px;
    margin-bottom: 24px;
}
#message-input:focus{
    text-align: left;
    padding-top: 10px;
}
.name,.email,.subject,.message{ 
    margin-bottom: 6px;
    margin-left: 6px;
    font-weight: normal;
    font-size: 16px;
    line-height: 179%;
}
.msg-btn{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #7F1AFE;
    padding: 17px 0px;
    border-radius: 5px;
    width: 190px;
    margin-top: 10px;
}
.msg-btn a{
    text-decoration: none;
    color: white;
}
/* footer-container */
.footer-container{
    background-color: #1E283C;
    padding: 76px 410px;
}
.footer-content{
    margin: auto;
    width: 75%;
}
.list-title{
    color: #ffffff;
    font-weight: 600;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.link-l{
    color: #707B8F;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}
.link-item{
    margin-bottom:5px
}
.link-item-m{ 
    margin-bottom: 7px;
}
.link-list,.contact-list{
    margin-top: 18px;
    list-style:none;
}
.link-l-brand{
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}
.contact-info{
    width: 200px;
}
.no{
    margin: 8px 0px;
}
.link-item-s{
    display:inline-block;
    margin-right: 5px;
}
.links,.contact-info,.student-notes,.social-link{
    display: inline-block;
    vertical-align: top;
    margin-right: 55px;
}
.social-link{
    margin-right: 0px;
}
.copyright-disc{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-top: 24px;
}


/* >>>>>>>>>>>>>>>blog page>>>>>>>>>>>>>>>
.blog-banner-img{
    width: 100%;
    height: 500px;
}
.blog{
    text-transform: uppercase;
}
.blog-sec{
    margin-top: 30px;
}
.pad{
    padding: 20px 0px;
    justify-content: space-evenly;
}
.blog-cards{
    padding: 20px 200px;
}
.blog-cards a{
    margin:20px;
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.06), 12px 12px 24px rgba(30, 40, 60, 0.16);
    border-radius: 0px 0px 18px 18px;
} */
/* blog-page
.blog-content{
    padding: 60px 180px;
}
.page{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.txt-head{
    font-weight: 600;
    font-size: 30px;
    line-height: 179.4%;
    color: #1E283C;
    margin-top: 30px;
}
.txt{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #50668F;
}
.author{
    margin-left: auto;
    width: 340px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    color: #50668F;
} */


/* <<<<<<<<<<<<<<<<custom Scollbar>>>>>>>>>>>> */
::-webkit-scrollbar{
    width: 1.1em;
}
::-webkit-scrollbar-track{
    background-color: #F2F5FA;
    border-radius: 120px;
    margin-block: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #21294F;
    border-radius: 120px;
    margin: 2px 0px;
    border: 2px solid #F2F5FA;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #50668F;
}


/******************************************************MEDIA QUERIES*********************************************************************/
/***********Full View(screen and 1200px)***********/
@media (min-width:1200px) and (max-width:1400px){
    .container-lp{
        height: 870px;
    }
    .container-nav {
        padding: 36px 60px;
    }
    .nav-item {
        font-size: 16px;
        margin: 0px 15px;
    }
    .login-btn {
        padding: 9px 20px;
    }
    /* below nav-section */
    .banner-section {
        padding-left: 80px;
    }
    .tagline {
        font-size: 65px;
    }
    .banner-text-content {
        font-size: 18px;
    }
    .contact-btn {
        font-size: 16px;
        padding: 18px 30px;
    }
    .see-blog-btn {
        font-size: 16px;
        padding: 18px 40px;
    }
    .banner-btn {
        width: 380px;
    }
    .stats-number {
        width: 440px;
    }
    .banner-img {
        width: 100%;
        height: 44.5rem;
    }
    /* feature section */
    .feature-section {
        padding: 40px 130px;
        margin: 0px;
    }
    .feature-item {
        padding: 40px 25px;
        flex: 0 0 380px;
    }
    /* acheiver-section */
    .acheiver-section {
        padding: 60px 130px;
    }
    .acheiver-item {
        background-color: #FFFFFF;
        border-radius: 16px;
        flex: 0 0 330px;
        margin: 32px 24px;
        padding: 32px 25px;
    }
    /* diff-section */
    .diff-feature-section {
        padding: 122px 130px;
    }
    .card-difference {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }
    /* blog-post */
    .blog-posts {
        padding: 122px 130px;
    }
    .blogs{
        grid-column-gap: 20px;
    }
    .blog-image {
        height: 13.938rem;
    }
    .blog-detail {
        padding: 22px 20px;
    }

    /* testimonial -section */
    .testimonial-section {
        padding: 122px 130px;
    }
    /* gallery section */
    .gallery-section{
        padding: 70px 130px;
    }
    .gallery-grid-landing {
        grid-template-rows: 15.313rem 15.313rem;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }
    /* querry-section */
    .flex-querry {
        justify-content: space-between;
    }
    .querry-section {
        padding: 122px 130px;
    }
    .querry-image {
        width: 50%;
        margin-left: 0px;
    }
    .input-field {
        margin-left: 0px;
        vertical-align: top;
        width: 45%;
    }
    #name-input, #email-input, #subject-input, #message-input {
        width: 100%;
    }
    /* footer section */
    .footer-container {
        padding: 76px 170px;
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 85%;
    }
    .m-show{
        display: none;
    }

}


/***********Desktop View(992px and 1199px)***********/
@media (min-width:992px) and (max-width:1199px){
    .container-nav{
        padding: 30px 40px;
    }
    .nav-brand-logo {
        height: 60px;
        width: 115px;
    }
    .nav-item{
        margin: 0px 10px;
        font-size: 14px;
    }
    .login-btn{
        padding: 8px 21px;
        font-size: 14px;
    }
    .right-mobile{
        display: none;
    }
    .m-show{
        display: none;
    }
    .banner-left-section{
        margin-top: 10px;
        width: 45%;
    }
    .banner-section {
        padding-left: 120px;
    }
    .banner-text{
        margin-top: 20px;
    }
    .tagline{
        font-size: 57px;
    }
    .banner-text-content{
        line-height: 30px;
        font-size: 20px;
    }
    .contact-btn{
        font-size: 16px;
        padding: 15px 25px;
    }
    .see-blog-btn{
        font-size: 16px;
        padding: 15px 30px;
    }
    .banner-btn {
        margin-top: 70px;
        width: 92%;
    }
    .stats-number{
        width: 90%;
    }
    .banner-right-section {
        width: 54%;
    }
    .banner-img {
        width: 100%;
        height: 100%;
    }
    /* feature section */
    .feature-section {
        padding: 100px 140px;
    }
    .slider-feature {
        margin-top: 50px;
    }
    .feature-item {
        padding: 25px 20px;
        flex: 0 0 370px;
        margin: 0px 20px;
    }
    .arrow-btn1{
        left: -72px;
    }
    .arrow-btn2{
        right: -95px;
    }
    /* acheiver section */
    .acheiver-section{
        padding: 80px 140px;
        margin: 0px;
    }
    .arrow_btn1{
        left: 58px;
        top: 55%;
    }
    .arrow_btn2{
        right: 47px;
        top: 55%;
    }
    /* diff-section */
    .diff-feature-section {
        padding: 80px 140px;
    }
    .card-difference {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 40px;
    }
    /* blog-post */
    .blog-posts{   
       padding: 40px 110px;
    }
    .blogs{
        grid-column-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .blog-image {
        height: 12.938rem;
    }
    .blog-detail {
        padding: 15px;
    }    
    .blog-title {
        font-size: 18px;
    }
    .bl-card{
        display: none;
    }
    /* sub-title */
    .sub-title-section {
        font-size: 35px;
        padding: 90px 0px;
    }
    /* gallery section */
    .gallery-section{
        padding: 50px 120px;
    }
    .gallery-grid-landing {
        grid-template-rows: 15.313rem 15.313rem;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 25px;
    }
    /* testimonial section */
    .testimonial-section{
        padding: 70px 110px;
    }
    .testimonial-item{
        flex: 0 0 350px;
    }
    /* sub-title */
    .weight {
        width: 740px;
    }
    /* querry -section */
    .querry-section{
        padding: 20px 70px 30px;
    }
    .querry-image {
        height: 350px;
        width: 450px;
        margin-left: 0px;
    }
    .input-field{
        margin-left: 0px;
    }
    #name-input, #email-input, #subject-input {
        width: 350px;
    }
    #message-input{
        width: 350px;
    }    
    /* footer container */
    .footer-container{
        padding: 40px 110px 20px;
    }
    .footer-content{
        width: auto;
    }
    .links, .contact-info, .student-notes{
       margin-right: 40px;
    }
    .blog-cards {
        padding: 20px 110px;
    }
    .blog-content {
        padding: 60px 140px;
    }
    .gal-lst{
        display: block;
        margin: auto;
        width: 320px;
        margin-top: 20px;
    }
    .news-det {
        width: 440px;
    }

}

/***********Medium Desktop View(767px and 992px)***********/
@media (min-width:768px) and (max-width:991px){
    .container-lp {
        height: 760px;
    }
    .container-nav{
        padding: 30px 20px;
    }
    .nav-brand-logo {
        height: 40px;
        width: 110px;
    }
    .login-btn{
        padding: 7px 16px;
        font-weight: 500;
        font-size: 15px;
    }
    .right-mobile{
        display: none;
    }
    .nav-item {
        margin: 0px 5px;
        font-size: 15px;
    }
    .hide-md{
        display: none;
    }
    .banner-section {
        padding: 10px 0px;
        padding-left: 60px;
    }
    .banner-left-section{
        margin-top: 30px;
        width: 45%;
    }
    .tagline {
        font-size: 42px;
        font-weight: 800;
    }
    .m-show{
        display: none;
    }
    .banner-text-content{
        line-height: 28px;
        font-size: 18px;
    }
    .banner-btn {
        margin-top: 60px;
        width: 100%;
    }
    .contact-btn {
        font-size: 14px;
        padding: 17px 25px;
    }
    .see-blog-btn{
        padding: 17px 30px;
        font-size: 14px;
    }
    .stats-number {
        width: 100%;
        margin-top: 50px;
    }
    .banner-img {
        height: 500.99px;
    }
    .students{
        margin: 0px 20px;
    }
    .stats-no {
        font-size: 22px;
    }
    .stats-txt {
        font-size: 12px;
    }
    /* feature section */
    .feature-section {
        padding: 90px 60px;
    }
    .feature-item {
        padding: 25px 20px;
        flex: 0 0 330px;
        margin: 0px 20px;
    }
    .arrow-btn1{
        display: none;
    }
    .arrow-btn2{
        display: none;
    }
    /* acheiver section */
    .acheiver-section{
        padding: 90px 60px;
    }
    .slider-acheiver {
        margin-top: 50px;
    }
    .arrow_btn1{
        display: none;
    }
    .arrow_btn2{
        display: none;
    }
    /* diff-section */
    .diff-feature-section {
        padding: 90px 60px;
    }
    .card-difference {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        margin-top: 60px;
    }
    .card-item {
        padding: 20px 15px;
    }
    /* blog-post */
    .blog-posts{
        padding: 90px 60px;
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;    
    }
    .bl-card{
        display: none;
    }
    /* sub-title */
    .sub-title-section{
        padding: 90px 0px;
    }
    .sub-title {
        width: 740px;
        font-size: 45px;
    }
    /* gallery-section */
    .gallery-section{
        padding: 50px 60px;
    }
    .two-line {
        width: 630px;
    }
    .gallery-grid-landing {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }
    /* testimonial section */
    .testimonial-section{
        padding: 50px 60px;
    }
    .testimonial-item{
        flex: 0 0 330px;
    }
    .statement{
        padding: 15px 15px 5px;
        line-height: 24px;
    }
    .testimonial-detail{
        padding: 10px 0px;
    }
    /* sub-title */
    .weight {
        width: 600px;
    }
    /* querry-section */
    .querry-section {
        padding: 90px 60px;
    }
    .querry-image {
        display: none;
    }
    .input-field{
        display: block;
        margin-left: 0px;
    }
    .msg-btn {
        margin:auto;
    }
    /* footer-section */
    .footer-container{
        padding: 90px 60px;
    }
    .footer-content {
        margin: auto;
        width: 100%;
    }
    .flex-content{
        display: flex;
        justify-content: center;
    }
    .links, .contact-info, .student-notes, .social-link {
        margin-right: 25px;
    }
    .blog-cards {
        padding: 20px 30px;
    }
    .blog-content {
        padding: 60px 50px;
    }
    .gal-bg{
        padding: 20px 30px;
    }
    .news-det {
        width: 420px;
        padding: 15px 20px;
    }
    .news-image{
        width: 260px;
    }
}

/***********Mobile medium View(566px and 767px)***********/
@media (min-width:567px) and (max-width:767px) {
    .container-lp{
        height: auto;
        width: auto;
        background: none;
    }
    .container-nav{
        align-items: center;
    }
    .right-mobile{
        margin-left: auto;
    }
    .hamburger{
        display: inline-block;
    }
    /* hamburger-menu */
    .hamburger{
        display: inline-block;
    }
    .mobile-nav{
        display: none;
    }
    .right-mobile{
        margin-left: auto;
    }
    .mobile{
        display: inline-block;
    }
    .nav-link{
        color: white;
        margin: 35px 0px;
        display: block;
        font-size: 22px;
        font-weight: 600;
    }
    .mobile-nav.is-active{
        display: block;
        text-align: center;
        width: 100%;
        min-height: 102vh;
        position: fixed;
        top: 0;
        right: 0px;
        padding-top: 50px;
        background-color: #7F1AFE;
        transition: 0.4s;
    }
    .container-nav{
        padding: 30px 16px;
    }
    .nav-brand-logo{
        height:35px;
        width:100px;
    }
    .nav-items{
        display: none;
    }
    .hidden-section{
        display: flex;
        justify-content: space-between;
        height: 350px;
    }
    .show-mobile{
        display: inline-block;
        margin-left: auto;
    }
    .login-btn{
       border-radius: 3px;
       padding: 0px 15px;
       font-size: 14px;
       font-weight: 600;
    }
    .log-btn {
        padding: 7px 10px;
        background-color: #7F1AFE;
        border-radius: 4px;
        vertical-align: top;
        margin: 0px;
        margin-right: 10px;
    }
    .banner-section {
        padding: 13px 16px;
    }
    .banner-left-section {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .tagline {    
        font-size: 58px;
    }
    .m-hidden{
        display: none;
    }
    .banner-text-content {
        font-size: 20px;
    }
    .banner-btn {
        margin-top: 50px;
        text-align: center;
        width: 90%;
        justify-content: space-evenly;
    }
    .banner-img{
        height: 100%;
    }
    .banner-text{
        margin-top: 15px;
    }
    .stats-no {
        font-size: 28px;
    }
    .stats-txt{
        font-size: 16px;
    }
    .stats-number{
        display: none;
    }
    .stats-number-hidden{
        width: 25%;
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    vertical-align: top;
    justify-content: center;
    }
    .founded,.students,.average-score  {
        display: block;
        text-align: center;
        margin: 15px 0px;
    }
    .banner-right-section{
        display: none;
    }
    .banner-right-section-hidden{
        width: 70%;
        display: inline-block;
    }
    .contact-btn{
        padding: 20px 40px;
        font-size: 16px;
    }
    .see-blog-btn{
        padding: 20px 65px;
        font-size: 16px;
    }
    .feature-section {
        padding: 20px 16px;
    }
    .section-title{
        font-size: 30px;
    }
    /* feature section */
    .feature-section {
        padding: 90px 16px;
    }
    .feature-item {
        padding: 25px 20px;
        flex: 0 0 350px;
    }
    .arrow-btn1{
        display: none;
    }
    .arrow-btn2{
        display: none;
    }
    /* acheiver section */
    .acheiver-section{
        padding: 90px 16px;
        margin-bottom: 0px;
    }
    .acheiver-item {
        flex: 0 0 280px;
        padding: 20px;
    }
    .slider-acheiver {
        margin-top: 50px;
    }
    .arrow_btn1{
        display: none;
    }
    .arrow_btn2{
        display: none;
    }
    /* diff-section */
    .diff-feature-section {
        display: none;
    }
    /* blog-section */
    .blog-posts{
        padding: 50px 16px;
    }
    .hide{
        display: none;
    }
    .bl-card{
        display: none;
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-template-rows: 1fr;
    }
    .blog-image {
        height: 12.938rem;
    }
    .blog-detail{
        padding: 15px 20px;
    }
    .blog-title{
        font-size: 18px;
    }
    .blogs a{
        margin-bottom: 20px;
    }
    .toblog-btn{
        margin-top: 20px;
    }
    /* sub-title */
    .sub-title-section{
        line-height: 45px;
        padding: 70px 0px;
    }
    .sub-title {
        width: 500px;
        font-size: 30px;
    }
    /* gallery-section */
    .gallery-section{
        padding: 50px 16px;
    }
    .gallery-grid-landing {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 25px;
    }
    /* testimonial section */
    .testimonial-section{
        padding: 50px 16px 15px;
    }
    .testimonial-item{
        flex: 0 0 310px;
        margin-bottom: 35px;
        box-shadow: -3px -3px 24px rgba(33, 41, 79, 0.06), 12px 12px 24px rgba(33, 41, 79, 0.16);
    }
    .slider-testimonial {
        margin: 20px 0px;
    }
    .statement{
        padding: 15px 15px 5px;
        line-height: 24px;
    }
    .testimonial-detail{
        padding: 10px 0px;
    }
    /* sub-title */
    .weight {
        width: 480px;
    }
    /* querry-section */
    .querry-section {
        padding: 50px 16px;
    }
    .querry-image {
        display: none;
    }
    .input-field{
        display: block;
        margin-left: 0px;
        width: 100%;
    }
    .input{
        margin: auto;
        width: 80%;
    }
    .msg-btn {
        margin:auto;
    }
    #name-input, #email-input, #subject-input {
        width: 100%;
    }
    #message-input{
        width: 100%;
    }   
    /* footer-section */
    .footer-container{
        padding: 30px 60px;
    }
    .footer-content{
        width: auto;
    }
    .links{
        display: none;
    }
    .contact-info{
        width: auto;
    }
    .contact-info,.social-link,.student-notes{
        margin-bottom: 20px;
        display: block;
        width: 300px;
    }
    .footer-content {
        width: 100%;
    }

   
    .blog-cards {
        padding: 20px;
        text-align: center;
    }
    .blog-detail{
        text-align: initial;
    }
    .blog-banner-img {
        height: 370px;
    }
    .blog-content {
        padding: 60px 40px;
    }
    .page {
        font-size: 40px;
    }
    .txt-head{
        font-size: 26px;
    }
    .txt{
        font-size: 14px;
    }
    .author {
        margin-left: auto;
        width: 305px;
        font-size: 18px;
    }
    .gal-lst{
        display: block;
        margin: auto;
        width: 232px;
        margin-top: 20px;
    }
    .news-det {
        width: 350px;
        border-radius: 0px 0px 18px 18px;
    }
    .news-card{
        width: 350px;
    }
    .news-image {
        width: 350px;
        border-radius: 18px 18px 0px 0px;
    }
    .news-title {
        font-size: 20px;
    }
    .news-prevw {
        font-size: 14px;
    }
}

/***********Mobile View(567px)***********/
@media (max-width:566px){
    .container-lp{
        height: auto;
        width: auto;
        background: none;
    }
    .container-nav{
        padding: 20px 16px;
        align-items: center;
    }
    .nav-brand-logo{
        height: 32px;
        width: 90px;
    }
    .nav-items{
        display: none;
    }
    .show-mobile{
        display: inline-block;
        margin-left: auto;
    }
    .login-btn{
       border-radius: 3px;
       padding: 0px 15px;
       font-size: 14px;
       font-weight: 600;
    }
    .log-btn {
        padding: 7px 10px;
        background-color: #7F1AFE;
        border-radius: 4px;
        vertical-align: top;
        margin: 0px;
        margin-right: 10px;
    }
    .m-show{
        display: inline;
    }
    /* hamburger-menu */
    .hamburger{
        display: inline-block;
        margin-top: 5px;
        width: 32px;
    }
    .mobile-nav{
        display: none;
    }
    .nav-link{
        color: white;
        margin: 35px 0px;
        display: block;
        font-size: 22px;
        font-weight: 600;
    }
    .right-mobile{
        margin-left: auto;
    }
    .mobile{
        display: inline-block;
        margin-top: 4px;
    }
    .nav-link:hover{
        color: white;
    }
    .mobile-nav.is-active{
        display: block;
        text-align: center;
        width: 100%;
        min-height: 102vh;
        position: fixed;
        top: 0;
        right: 0px;
        padding-top: 50px;
        background-color: #7F1AFE;
        transition: 0.4s;
    }
    /* banner section */
    .banner-section {
        padding: 13px 16px;
    }
    .banner-left-section {
        width: 100%;
        margin: 0px;
    }
    .tagline {    
        font-size: 40px;
    }
    .m-hidden{
        display: none;
    }
    .banner-btn {
        margin-top: 50px;
        width: auto;
    }
    .banner-img {
        width: 14.5rem;
        height: 17.5rem;
        object-fit: cover;
    }    
    .hidden-section{
        display: flex;
        justify-content: space-between;
    }
    .stats-no {
        font-size: 18px;
    }
    .stats-number{
        display: none;
    }
    .stats-number-hidden{
        display: inline-block;
        width: 35%;
        margin-bottom: 20px;
        vertical-align: top;
    }
    .founded,.students,.average-score  {
        display: block;
        text-align: center;
        margin: 15px 0px;
    }
    .banner-right-section{
        display: none;
    }
    .banner-right-section-hidden{
        display: inline-block;
        width: 70%;
    }
    .banner-text-content{
        font-size: 16px;
        line-height: 29px;
    }
    .contact-btn{
        padding: 17px 30px;
        font-size: 14px;
    }
    .see-blog-btn{
        padding: 18px 45px;
        font-size: 14px;
    }
    /* feature section */
    .feature-section {
        padding: 0px 16px;
        margin: 90px 0px;
    }
    .section-title{
        font-size: 28px;
    }
    .feature-item{
        margin: 0px 15px;
    }
    .arrow-btn1{
        display: none;
    }
    .arrow-btn2{
        display: none;
    }
    .slider-feature {
        margin-top: 40px;
    }
    #first-li {
        margin-left: 0px;
    }
    .feature-item{
        flex: 0 0 320px;
        padding: 20px 15px;
    }
    /* acheiver section */
    .acheiver-section {
        padding: 54px 16px;
    }
    .section-title {
        font-size: 30px;
    }
    .section-title-below {
        font-size: 14px;
        margin-top: 12px;
    }
    .acheiver-item {
        flex: 0 0 320px;
        margin: 30px 20px;
        padding: 20px;
    }
    .arrow_btn1,.wid{
        display: none;
    }
    .arrow_btn2{
        display: none;
    }
    /* diff-feature-section */
    .diff-feature-section {
        display: none;
    }
    /* blog-posts */
    .blog-posts{
        padding: 54px 16px;
    }
    .two-line {
        width: 470px;
    }
    .blogs {
        margin-top: 30px;
        text-align: center;
        display: block;
    }
    .blog-image,.blog-detail{
        width: 100%;
        text-align: initial;
    }
    .blog-detail{
        padding: 20px;
    }
    .middle-blog {
        margin: 0px;
    }
    .blogs a{
        display: block;
        margin: 0px;
        margin-bottom: 20px;
    }
    .hide{
        display: none;
    }
    /* sub-title */
    .sub-title-section {
        padding: 46px 16px;
        font-weight: bold;
        font-size: 24px;
        line-height: 137%;
    }
    .sub-title {
        width: 330px;
        font-weight: bold;
        font-size: 24px;
        line-height: 137%;
    }
    /* testimonial-section */
    .testimonial-section{
        padding: 0px 15px;
    }
    .testimonial-item{
        flex: 0 0 320px;
        margin: 25px 15px;
        box-shadow: -3px -3px 24px rgba(33, 41, 79, 0.06), 12px 12px 24px rgba(33, 41, 79, 0.16);
    }
    .testimonial-detail img {
        height: 40px;
        width: 40px;
    }
    .user-name{
        margin-top: 10px;
    }
    .first-test{
        margin-left: 0px;
    }
    /* galler-section */
    .gallery-section{
        padding: 54px 16px;
        text-align: center;
        background-image: none;
    }
    .gallery-grid-landing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 15px;
        grid-column-gap: 10px;
    }
    .mid-img {
        margin: 0px;
    }
    .image img {
        height: 7.63rem;
        width: 100%;
        border-radius: 13px;
    }
    .gallery-grid{
        display: block;
        width: auto;
        margin-top: 40px;
    }
    .togal-btn{
        margin-top: 20px;
    }
    .weight{
        width: auto;
        font-size: 20px;
    }
    .statement{
        padding: 10px 15px;
    }
    .slider-testimonial {
        margin: 54px 0px;
    }
    /* querry section */
    .querry-section {
        padding: 54px 16px;
    }
    .querry-image {
        display: none;
    }
    .input-field{
        float: none;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    .input{
        margin: 0px auto;
    }
    #name-input, #email-input, #subject-input {
        width: 100%;
    }
    #message-input {
        width: 100%;
    }
    .msg-btn{
        margin-right: auto;
    }
    /* footer-container */
    .footer-container{
        padding: 54px 16px;
    }
    .links{
        display: none;
    }
    .contact-info{
        width: auto;
    }
    .contact-info,.social-link,.student-notes{
        margin-bottom: 20px;
    }
    .footer-content {
        width: 100%;
    }

   
    .blog-banner-img{
        height: 270px;
    }
    .hid-mob{
        display: none;
    }
    .full-mob{
        width: 40%;
    }
    .blog-cards {
        padding: 20px;
        text-align: center;
    }
    .blog-cards a {
        margin: 20px 0px;
        text-align: initial;
    }
    .blog-content {
        padding: 60px 16px;
    }
    .page {
        font-size: 28px;
    }
    .txt-head {
        font-size: 22px;
    }
    .txt {
        font-size: 16px;
    }
    .author {
        width: 240px;
        font-size: 14px;
    }
    .pg-banner{
        height: 240px;
    }
    .gal-img {
        margin: 10px;
    }
    .news-image {
        height: 150px;
        object-fit: cover;
        width: 320px;
        border-radius: 18px 18px 0px 0px;
    }
    .news-det{
        width: 315px;
        border-radius: 0px 0px 18px 18px;
        padding: 20px 10px 15px;    
    }
    .news-title{
        font-size: 16px;
    }
    .news-prevw {
        font-size: 14px;
    }
    .news-card{
        width: min-content;
    }
    
}