*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*************************Banner Section*****************************/
.banner-section{
    display: flex;
    justify-content: space-between;
    padding-left: 230px;
    width: 100%;
}
/* banner-left-section */
.banner-left-section{
    width: 40%;
    margin-top: 40px;
}
.stats-number-hidden{
  display: none;
}
.banner-right-section-hidden{
    display: none;
}
.tagline{
    color: #1E283C;
    font-weight: bold;
    font-size: 76px;
    line-height: 116.9%;
}
.banner-text-content{
    color: #50668F;
    font-weight: normal;
    font-size: 22px;
    line-height: 179.4%;
    margin-top: 25px;
}
.banner-btn{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.contact-btn{
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    background-color: rgba(127, 26, 254, 1);
    padding: 18px 40px;
    border-radius: 4px;
}
.contact-btn:hover{
    background-color: rgba(127, 26, 254, 0.9);
    transition: 0.6s;
}
.see-blog-btn{
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color:#262626;
    text-decoration: none;
    background-color: #F2F5FA;
    padding: 18px 50px;
    border-radius: 8px;
}
.see-blog-btn:hover{
    background-color: 
    rgba(127, 26, 254, 1);
    color: rgba(255,255,255);
    transition: 0.3s;
}
.stats-number{
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin-top: 70px;
}
.stats-no{
    color: #1E283C;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
}
.stats-txt{
    color: #50668F;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 126.9%;
}
.m-show{
    display: none;
}
/*banner-right-section*/
.banner-right-section{
    width: 60%;
}
.banner-img{
    width: 100%;
    height: 48.5rem;
    object-fit: cover;
}

/***************** feature secton *************/
.feature-section{
    padding: 92px 240px;
    position: relative;
}
.section-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #1E283C;
}
.slider-feature{
    margin-top: 60px;
    position: relative;
}
.feature-img img{
    height: 60px;
}
.feature-list{
    display: flex;
    list-style: none;
    font-size: 16px;
    overflow: auto;
}
.feature-list::-webkit-scrollbar{
    display: none;
}
.feature-item{
    background-color:#F2F5FA;
    padding: 47px 40px;
    border-radius: 16px;
    flex: 0 0 420px;
    margin: 30px 20px;
    transition: 0.25s ease-in-out;
}

.feature-item:hover {
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.03), 12px 12px 24px rgba(30, 40, 60, 0.08);
    transform: scale(1.008, 1.008) translateY(-4px);
}


.card-title{
    color: #1E283C;
    font-weight: 500;
    font-size: 22px;
    line-height: 114.9%;
    margin-bottom: 20px;
}
.feature-text{
    margin-top: 30px;
}
.card-define{
    color: #50668F;
    font-size: 18px;
    line-height: 182.4%;
    margin-top: 20px;
}
.arrow-btn1{
    position: absolute;
    left: -88px;
    top: 43%;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.arrow-btn2{
    position: absolute;
    top: 44%;
    right: -79px;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.arrow-btn-img{
    height: 20px;
    width: 12px;
}
#first-li{
    margin-left: 0px;
}
#last-li{
    margin-right: 30px;
    margin-left: 0px;
}


/***************** Acheiver secton *************/
.acheiver-section{
    background-color:#F2F5FA;
    padding: 86px 240px;
    position: relative;
}
.section-title-below{
    font-size: 16px;
    color: #50668F;
    margin-top: 15px;
    text-align: center;
}
.slider-acheiver{
    margin-top: 30px;
}
.acheiver-list{
    display: flex;
    list-style: none;
    font-size: 16px;
    overflow: auto;
}
.acheiver-list::-webkit-scrollbar{
    display: none;
}
.acheiver-item{
    background-color: #FFFFFF;
    border-radius: 16px;
    flex: 0 0 346px;
    margin: 32px 24px;
    padding: 32px 30px;
    box-shadow: -3px -3px 24px rgb(30 40 60 / 6%), 12px 12px 24px rgb(30 40 60 / 16%);
    transition: 0.25s ease-in-out;
}

.acheiver-item:hover {
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.03), 12px 12px 24px rgba(30, 40, 60, 0.08);
    transform: scale(1.008, 1.008) translateY(-4px);
}



.wid{
    width: 500px !important;
}
#first-li-acheiver{
    margin-left: 0px;
}
.acheiver-title{
    color: #1E283C;
    font-size: 28px;
    line-height: 114.9%;
    margin-bottom: 10px;
    font-weight: 600;
}
.acheiver-text{
    margin-top: 16px;
}
.acheiver-define{
    color: #1E283C;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.mark{
    font-weight: 600;
}
.acheiver-img img{
    border-radius: 14px;
    height: 96px;
    width: 96px;
}
.acheiver-detail{
    float: right;
    vertical-align: top;
    margin-top: 22px;
}
.batch-acheiver{
    color: #1E283C;
    font-weight: 600;
    font-size: 20px;
    line-height: 114.9%;
}
.batch{
    text-align: center;
    color: #50668F;
}
.arrow_btn1{
    position: absolute;
    left: 150px;
    top: 58%;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.arrow_btn2{
    position: absolute;
    top: 58%;
    right: 157px;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}

/*************difference-section************/
.diff-feature-section{
    padding: 122px 240px;
}
.card-difference{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 70px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
}
.two-line{
    width: 700px;
    margin: 20px auto;
    line-height: 25px;
}
.card-logo{
    margin-bottom: 25px;
    height: 40px;
    width: 40px;
}
.margin{
    margin-bottom: 15px;
}
.extra{
    margin-bottom: 30px;
}
.card-item{
    padding: 26px 20px;
    background-color: #F2F5FA;
    border-radius: 16px;
    transition: 0.25s ease-in-out;
}

.card-item:hover {
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.03), 12px 12px 24px rgba(30, 40, 60, 0.08);
    transform: scale(1.008, 1.008) translateY(-4px);
}


/**************BLOG section*****************/
.blog-posts{
    background-image: url(..//img/Home/blog-section/Vector\ Pattern.png);
    background-color:#F2F5FA;
    background-size: 100%;
    padding:110px 240px;
}
.blogs{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 45px;
    grid-template-rows: 1fr;
}
.blogs a{
    text-decoration: none;
}
.blog-image{
    height: 15.938rem;
    width: 100%;
    border-radius: 18px 18px 0px 0px;
}
.blog-detail{
    background-color: #FFFFFF;
    width: 100%;
    padding: 22px 30px 20px;
    border-radius: 0px 0px 18px 18px;
}
.blog-date{
    color: #50668F;
    font-size: 12px;
    margin-bottom: 13px;
}
.blog-title{
    color: #1E283C;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
}
.toblog-btn{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: rgba(127, 26, 254, 1);
    padding: 16px 0px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
}
.toblog-btn:hover{
    background-color: rgba(127, 26, 254, 0.9);
    transition: all 0.5s ease;
  
}
.toblog-btn a{
    text-decoration: none;
    color: white;
}

.blogs a{
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.06), 12px 12px 24px rgba(30, 40, 60, 0.16);
    border-radius: 18px;
    transition: .25s ease-in-out;
}

.blogs a:hover{
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.04), 12px 12px 24px rgba(30, 40, 60, 0.12);
    transform: scale(1.008, 1.008) translateY(-4px);
    
}


/**************Sub-title section*****************/
.sub-title-section{
    background-color: #1E283C;
    color: #ffffff;
    padding: 135px 0px;
}
.sub-title{
    width: 890px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 54px;
    line-height: 137%;
}

/**************Testimonial section*****************/
.testimonial-section{
    background-color:#ffffff;
    padding: 122px 240px;
    position: relative;
    margin: 0px;
}
.testimonial-list{
    display: flex;
    list-style: none;
    font-size: 16px;
    overflow: auto;
}
.testimonial-list::-webkit-scrollbar{
    display: none;
}
.testimonial-item{
    background-color: #FFFFFF;
    border-radius: 16px;
    flex: 0 0 420px;
    margin: 40px 20px;
    text-align: center;
    transition: .25s ease-in-out;
}
.testimonial-item:hover {
    box-shadow: -3px -3px 24px rgba(30, 40, 60, 0.03), 12px 12px 24px rgba(30, 40, 60, 0.08);
    transform: scale(1.008, 1.008) translateY(-4px);
}


.testimonial{
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-bottom: none;
    border-radius: 16px 16px 0px 0px;
}
.testimonial img{
    margin-bottom: 20px;
}
.statement{
    color: #65738f;
    padding: 30px 24px 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 182.4%;
    text-align: center;
}
.statement  img{ 
    margin-bottom: 20px;
}
.testimonial-detail{
    font-size: 18px;
    background-color: #F2F5FA;
    padding: 15px 0px;
    border-radius: 0px 0px 16px 16px
}
.testimonial-detail img{
    height: 60px;
    width: 60px;
}
.user-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 114.9%; 
    color: #1E283C;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
}
.arrow_test_btn1{
    position: absolute;
    left: 150px;
    top: 50%;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.arrow_test_btn2{
    position: absolute;
    top: 50%;
    right: 157px;
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgb(1 1 1 / 18%);
}
.first-test{
    margin-left: 0px;
}

/* Gallery Section */
.gallery-section{
    background-image: url(..//img/Home/blog-section/Vector\ Pattern.png);
    background-color:#F2F5FA;
    background-size: 100%;
    padding:70px 240px;
}
.gallery-grid-landing{
   display: grid;
   grid-template-rows: 17.313rem 17.313rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
}
.margin-btm{
    margin-bottom: 35px;
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.togal-btn{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #7F1AFE;
    padding: 18px 0px;
    width: 190px;
    margin: auto;
    margin-top: 50px;
}
.togal-btn:hover{
    background-color: rgba(127, 26, 254, 0.9);
    transition: all 0.5s ease; 
}
.togal-btn a{
    text-decoration: none;
    color: white;
}

/* query-section */
.query-section{
    padding: 122px 240px;
}
.input-field{
    display: inline-block;
    margin-left: 80px;
    vertical-align: top;
    margin-top: 20px;
    color: #1E283C;
    font-size: 14px;
}

.flex-query{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.query-image{
    width: 100%;
    object-fit: cover;
}

#name-input,#email-input,#subject-input,#message-input{
    margin-bottom: 15px;
    background-color: #DFE6F1;
    border: none;
    border-radius: 5px;
}
#name-input,#email-input,#subject-input{
    width: 570px;
    height: 41px;
}
#message-input:focus{
   padding-top: 10px;
}
#message-input{
    width: 570px;
    height: 160px;
    padding-left: 10px;
    padding-top: 10px;
}
textarea { resize: none; }
#name-input,#email-input,#subject-input,#message-input:focus{
    outline: none;
    font-size: 14px;
    color: #50668F;
    padding: 0px 10px;
    margin-bottom: 24px;
}
#message-input:focus{
    text-align: left;
    padding-top: 10px;
}
.name,.email,.subject,.message{ 
    margin-bottom: 6px;
    margin-left: 6px;
    font-weight: normal;
    font-size: 16px;
    line-height: 179%;
}
.msg-btn{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #7F1AFE;
    padding: 17px 0px;
    border-radius: 5px;
    width: 190px;
    margin-top: 10px;
}
.msg-btn:hover{
    background-color: rgba(127, 26, 254, 0.9);
    transition: all 0.5s ease; 
}
.msg-btn a{
    text-decoration: none;
    color: white;
}




/******************************************************MEDIA QUERIES*********************************************************************/
/***********Full View(screen and 1200px)***********/
@media (min-width:1200px) and (max-width:1400px){
    .container-lp{
        height: 870px;
    }
    /* below nav-section */
    .banner-section {
        padding-left: 80px;
    }
    .tagline {
        font-size: 65px;
    }
    .banner-text-content {
        font-size: 18px;
    }
    .contact-btn {
        font-size: 16px;
        padding: 18px 30px;
    }
    .see-blog-btn {
        font-size: 16px;
        padding: 18px 40px;
    }
    .banner-btn {
        width: 380px;
    }
    .stats-number {
        width: 440px;
    }
    .banner-img {
        width: 100%;
        height: 44.5rem;
    }
    /* feature section */
    .feature-section {
        padding: 40px 130px;
        margin: 0px;
    }
    .feature-item {
        padding: 40px 25px;
        flex: 0 0 380px;
    }
    .arrow-btn1 {
        left: -71px;
    }
    .arrow-btn2 {
        right: -70px;
    }
    /* acheiver-section */
    .acheiver-section {
        padding: 60px 130px;
    }
    .acheiver-item {
        background-color: #FFFFFF;
        border-radius: 16px;
        flex: 0 0 330px;
        margin: 32px 24px;
        padding: 32px 25px;
    }
    .arrow_btn1 {
        left: 71px;
    }
    .arrow_btn2 {
        right: 71px;
    }
    /* diff-section */
    .diff-feature-section {
        padding: 122px 130px;
    }
    .card-difference {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }
    /* blog-post */
    .blog-posts {
        padding: 122px 130px;
    }
    .blogs{
        grid-column-gap: 20px;
    }
    .blog-image {
        height: 13.938rem;
    }
    .blog-detail {
        padding: 22px 20px;
    }

    /* testimonial -section */
    .testimonial-section {
        padding: 122px 130px;
    }
    .arrow_test_btn1 {
        left: 71px;
    }
    .arrow_test_btn2 {
        right: 71px;
    }
    /* gallery section */
    .gallery-section{
        padding: 70px 130px;
    }
    .gallery-grid-landing {
        grid-template-rows: 15.313rem 15.313rem;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }
    /* query-section */
    .flex-query {
        justify-content: space-between;
    }
    .query-section {
        padding: 122px 130px;
    }
    .query-image {
        width: 100%;
        margin-left: 0px;
    }
    .input-field {
        margin-left: 0px;
        vertical-align: top;
        width: 45%;
    }
    #name-input, #email-input, #subject-input, #message-input {
        width: 100%;
    }

}


/***********Desktop View(992px and 1199px)***********/
@media (min-width:992px) and (max-width:1199px){
    .right-mobile{
        display: none;
    }
    .m-show{
        display: none;
    }
    .banner-left-section{
        margin-top: 10px;
        width: 45%;
    }
    .banner-section {
        padding-left: 120px;
    }
    .banner-text{
        margin-top: 20px;
    }
    .tagline{
        font-size: 57px;
    }
    .banner-text-content{
        line-height: 30px;
        font-size: 20px;
    }
    .contact-btn{
        font-size: 16px;
        padding: 15px 25px;
    }
    .see-blog-btn{
        font-size: 16px;
        padding: 15px 30px;
    }
    .banner-btn {
        margin-top: 70px;
        width: 92%;
    }
    .stats-number{
        width: 90%;
    }
    .banner-right-section {
        width: 54%;
    }
    .banner-img {
        width: 100%;
        height: 100%;
    }

    /* feature section */
    .feature-section {
        padding: 100px 140px;
    }
    .slider-feature {
        margin-top: 50px;
    }
    .feature-item {
        padding: 25px 20px;
        flex: 0 0 370px;
        margin: 0px 20px;
    }
    .arrow-btn1{
        left: -72px;
    }
    .arrow-btn2{
        right: -72px;
    }

    /* acheiver section */
    .acheiver-section{
        padding: 80px 140px;
        margin: 0px;
    }
    .arrow_btn1{
        left: 72px;
        top: 55%;
    }
    .arrow_btn2{
        right: 72px;
        top: 55%;
    }

    /* diff-section */
    .diff-feature-section {
        padding: 80px 140px;
    }
    .card-difference {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 40px;
    }

    /* blog-post */
    .blog-posts{   
       padding: 40px 140px;
    }
    .blogs{
        grid-column-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .blog-image {
        height: 12.938rem;
    }
    .blog-detail {
        padding: 15px;
    }    
    .blog-title {
        font-size: 18px;
    }
    .bl-card{
        display: none;
    }

    /* sub-title */
    .sub-title-section {
        font-size: 35px;
        padding: 90px 0px;
    }

    /* gallery section */
    .gallery-section{
        padding: 50px 140px;
    }
    .gallery-grid-landing {
        grid-template-rows: 15.313rem 15.313rem;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 25px;
    }

    /* testimonial section */
    .testimonial-section{
        padding: 70px 140px;
    }
    .testimonial-item{
        flex: 0 0 350px;
    }
    .arrow_test_btn1 {
        position: absolute;
        left: 72px;
    }
    .arrow_test_btn2 {
        right: 72px;
    }

    /* sub-title */
    .weight {
        width: 740px;
    }

    /* query -section */
    .query-section{
        padding: 20px 70px 30px;
    }
    .query-image {
        
        margin-left: 0px;
    }
    .input-field{
        margin-left: 0px;
    }
    #name-input, #email-input, #subject-input {
        width: 350px;
    }
    #message-input{
        width: 350px;
    }    


}

/***********Medium Desktop View(767px and 992px)***********/
@media (min-width:768px) and (max-width:991px){
    .container-lp {
        height: 760px;
    }
    .banner-section {
        padding: 10px 0px;
        padding-left: 60px;
    }
    .banner-left-section{
        margin-top: 30px;
        width: 45%;
    }
    .tagline {
        font-size: 42px;
        font-weight: 800;
    }
    .m-show{
        display: none;
    }
    .banner-text-content{
        line-height: 28px;
        font-size: 18px;
    }
    .banner-btn {
        margin-top: 60px;
        width: 100%;
    }
    .contact-btn {
        font-size: 14px;
        padding: 17px 25px;
    }
    .see-blog-btn{
        padding: 17px 30px;
        font-size: 14px;
    }
    .stats-number {
        width: 100%;
        margin-top: 50px;
    }
    .banner-img {
        height: 500.99px;
    }
    .students{
        margin: 0px 20px;
    }
    .stats-no {
        font-size: 22px;
    }
    .stats-txt {
        font-size: 12px;
    }

    /* feature section */
    .feature-section {
        padding: 90px 60px;
    }
    .feature-item {
        padding: 25px 20px;
        flex: 0 0 330px;
        margin: 0px 20px;
    }
    .arrow-btn1{
        display: none;
    }
    .arrow-btn2{
        display: none;
    }

    /* acheiver section */
    .acheiver-section{
        padding: 90px 60px;
    }
    .slider-acheiver {
        margin-top: 50px;
    }
    .arrow_btn1{
        display: none;
    }
    .arrow_btn2{
        display: none;
    }

    /* diff-section */
    .diff-feature-section {
        padding: 90px 60px;
    }
    .card-difference {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        margin-top: 60px;
    }
    .card-item {
        padding: 20px 15px;
    }

    /* blog-post */
    .blog-posts{
        padding: 90px 60px;
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;    
    }
    .bl-card{
        display: none;
    }

    /* sub-title */
    .sub-title-section{
        padding: 90px 0px;
    }
    .sub-title {
        width: 740px;
        font-size: 45px;
    }

    /* gallery-section */
    .gallery-section{
        padding: 50px 60px;
    }
    .two-line {
        width: 630px;
    }
    .gallery-grid-landing {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }

    /* testimonial section */
    .testimonial-section{
        padding: 50px 60px;
    }
    .testimonial-item{
        flex: 0 0 330px;
    }
    .statement{
        padding: 15px 15px 5px;
        line-height: 24px;
    }
    .testimonial-detail{
        padding: 10px 0px;
    }
    .arrow_test_btn1,.arrow_test_btn2 {
      display: none
    }

    /* query-section */
    .query-section {
        padding: 50px 16px;
    }
    .query-image {
        display: none;
    }
    .input-field{
        display: block;
        margin-left: 0px;
    }
    .msg-btn {
        margin:auto;
    }
}

/***********Mobile medium View(566px and 767px)***********/
@media (min-width:567px) and (max-width:767px) {
    .container-lp{
        height: auto;
        width: auto;
        background: none;
    }
   
    .hidden-section{
        display: flex;
        justify-content: space-between;
        height: 350px;
    }
    .show-mobile{
        display: inline-block;
        margin-left: auto;
    }
    .banner-section {
        padding: 13px 16px;
    }
    .banner-left-section {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .tagline {    
        font-size: 58px;
    }
    .m-hidden{
        display: none;
    }
    .banner-text-content {
        font-size: 20px;
    }
    .banner-btn {
        margin-top: 50px;
        text-align: center;
        width: 90%;
        justify-content: space-evenly;
    }
    .banner-img{
        height: 100%;
    }
    .banner-text{
        margin-top: 15px;
    }
    .stats-no {
        font-size: 28px;
    }
    .stats-txt{
        font-size: 16px;
    }
    .stats-number{
        display: none;
    }
    .stats-number-hidden{
    width: 25%;
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    vertical-align: top;
    justify-content: center;
    }
    .founded,.students,.average-score  {
        display: block;
        text-align: center;
        margin: 15px 0px;
    }
    .banner-right-section{
        display: none;
    }
    .banner-right-section-hidden{
        width: 70%;
        display: inline-block;
    }
    .contact-btn{
        padding: 20px 40px;
        font-size: 16px;
    }
    .see-blog-btn{
        padding: 20px 65px;
        font-size: 16px;
    }
    .feature-section {
        padding: 20px 16px;
    }
    .section-title{
        font-size: 30px;
    }

    /* feature section */
    .feature-section {
        padding: 90px 16px;
    }
    .feature-item {
        padding: 25px 20px;
        flex: 0 0 350px;
    }
    .arrow-btn1{
        display: none;
    }
    .arrow-btn2{
        display: none;
    }

    /* acheiver section */
    .acheiver-section{
        padding: 90px 16px;
        margin-bottom: 0px;
    }
    .acheiver-item {
        flex: 0 0 280px;
        padding: 20px;
    }
    .slider-acheiver {
        margin-top: 50px;
    }
    .arrow_btn1{
        display: none;
    }
    .arrow_btn2{
        display: none;
    }

    /* diff-section */
    .diff-feature-section{
        padding: 90px 16px;
    }
    .two-line {
        width: 500px;
    }    
    .card-difference {
        display: flex;
        overflow: auto;
        grid-column-gap: 20px;
    }
    .card-difference::-webkit-scrollbar {
        display: none;
    }
    .card-item {
        flex: 0 0 20rem;
    }

    /* blog-section */
    .blog-posts{
        padding: 50px 16px;
    }
    .hide{
        display: none;
    }
    .bl-card{
        display: none;
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-template-rows: 1fr;
    }
    .blog-image {
        height: 12.938rem;
    }
    .blog-detail{
        padding: 15px 20px;
    }
    .blog-title{
        font-size: 18px;
    }
    .blogs a{
        margin-bottom: 20px;
    }
    .toblog-btn{
        margin-top: 20px;
    }

    /* sub-title */
    .sub-title-section{
        line-height: 45px;
        padding: 70px 0px;
    }
    .sub-title {
        width: 500px;
        font-size: 30px;
    }

    /* gallery-section */
    .gallery-section{
        padding: 50px 16px;
    }
    .gallery-grid-landing {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 25px;
    }

    /* testimonial section */
    .testimonial-section{
        padding: 50px 16px 15px;
    }
    .testimonial-item{
        flex: 0 0 310px;
        margin-bottom: 35px;
        box-shadow: -3px -3px 24px rgba(33, 41, 79, 0.06),
         12px 12px 24px rgba(33, 41, 79, 0.16);
    }
    .slider-testimonial {
        margin: 20px 0px;
    }
    .statement{
        padding: 15px 15px 5px;
        line-height: 24px;
    }
    .testimonial-detail{
        padding: 10px 0px;
    }
    .arrow_test_btn1,.arrow_test_btn2 {
        display: none
      }

    /* sub-title */
    .weight {
        width: 480px;
    }

    /* query-section */
    .query-section {
        padding: 50px 16px;
    }
    .query-image {
        display: none;
    }
    .input-field{
        display: block;
        margin-left: 0px;
        width: 100%;
    }
    .input{
        margin: auto;
        width: 80%;
    }
    .msg-btn {
        margin:auto;
    }
    #name-input, #email-input, #subject-input {
        width: 100%;
    }
    #message-input{
        width: 100%;
    }   
}

/***********Mobile View(567px)***********/
@media (max-width:566px){
    .container-lp{
        height: auto;
        width: auto;
        background: none;
    }

    .show-mobile{
        display: inline-block;
        margin-left: auto;
    }
    .m-show{
        display: inline;
    }
    
    /* banner section */
    .banner-section {
        padding: 13px 16px;
    }
    .banner-left-section {
        width: 100%;
        margin: 0px;
    }
    .tagline {    
        font-size: 40px;
    }
    .m-hidden{
        display: none;
    }
    .banner-btn {
        margin-top: 50px;
        width: auto;
    }
    .banner-img {
        width: 14.5rem;
        height: 17.5rem;
        object-fit: cover;
    }    
    .hidden-section{
        display: flex;
        justify-content: space-between;
    }
    .stats-no {
        font-size: 18px;
    }
    .stats-number{
        display: none;
    }
    .stats-number-hidden{
        display: inline-block;
        width: 35%;
        margin-bottom: 20px;
        vertical-align: top;
    }
    .founded,.students,.average-score  {
        display: block;
        text-align: center;
        margin: 15px 0px;
    }
    .banner-right-section{
        display: none;
    }
    .banner-right-section-hidden{
        display: inline-block;
        width: 70%;
    }
    .banner-text-content{
        font-size: 16px;
        line-height: 29px;
    }
    .contact-btn{
        padding: 17px 30px;
        font-size: 14px;
    }
    .see-blog-btn{
        padding: 18px 45px;
        font-size: 14px;
    }

    /* feature section */
    .feature-section {
        padding: 0px 16px;
        margin: 90px 0px;
    }
    .section-title{
        font-size: 28px;
    }
    .feature-item{
        margin: 0px 15px;
    }
    .arrow-btn1{
        display: none;
    }
    .arrow-btn2{
        display: none;
    }
    .slider-feature {
        margin-top: 40px;
    }
    #first-li {
        margin-left: 0px;
    }
    .feature-item{
        flex: 0 0 320px;
        padding: 20px 15px;
    }

    /* acheiver section */
    .acheiver-section {
        padding: 54px 16px;
    }
    .section-title {
        font-size: 30px;
    }
    .section-title-below {
        font-size: 14px;
        margin-top: 12px;
    }
    .acheiver-item {
        flex: 0 0 320px;
        margin: 30px 20px;
        padding: 20px;
    }
    .arrow_btn1,.wid{
        display: none;
    }
    .arrow_btn2{
        display: none;
    }

    /* diff-feature-section */
    .diff-feature-section{
        padding: 90px 16px;
    }
    .two-line {
        display: none;
    }    
    .card-difference {
        display: flex;
        overflow: auto;
        grid-column-gap: 20px;
    }
    .card-difference::-webkit-scrollbar {
        display: none;
    }
    .card-item {
        flex: 0 0 20rem;
    }

    /* blog-posts */
    .blog-posts{
        padding: 54px 16px;
    }
    .two-line {
        width: 470px;
    }
    .blogs {
        margin-top: 30px;
        text-align: center;
        display: block;
    }
    .blog-image,.blog-detail{
        width: 100%;
        text-align: initial;
    }
    .blog-detail{
        padding: 20px;
    }
    .middle-blog {
        margin: 0px;
    }
    .blogs a{
        display: block;
        margin: 0px;
        margin-bottom: 20px;
    }
    .hide{
        display: none;
    }

    /* sub-title */
    .sub-title-section {
        padding: 46px 16px;
        font-weight: bold;
        font-size: 24px;
        line-height: 137%;
    }
    .sub-title {
        width: 330px;
        font-weight: bold;
        font-size: 24px;
        line-height: 137%;
    }

    /* testimonial-section */
    .testimonial-section{
        padding: 0px 15px;
    }
    .testimonial-item{
        flex: 0 0 320px;
        margin: 25px 15px;
        box-shadow: -3px -3px 24px rgba(33, 41, 79, 0.06), 12px 12px 24px rgba(33, 41, 79, 0.16);
    }
    .testimonial-detail img {
        height: 40px;
        width: 40px;
    }
    .user-name{
        margin-top: 10px;
    }
    .first-test{
        margin-left: 0px;
    }
    .arrow_test_btn1,.arrow_test_btn2 {
        display: none
    }

    /* galler-section */
    .gallery-section{
        padding: 54px 16px;
        text-align: center;
        background-image: none;
    }
    .gallery-grid-landing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 15px;
        grid-column-gap: 10px;
    }
    .mid-img {
        margin: 0px;
    }
    .image img {
        height: 7.63rem;
        width: 100%;
        border-radius: 13px;
    }
    .gallery-grid{
        display: block;
        width: auto;
        margin-top: 40px;
    }
    .togal-btn{
        margin-top: 20px;
    }
    .weight{
        width: auto;
        font-size: 20px;
    }
    .statement{
        padding: 10px 15px;
    }
    .slider-testimonial {
        margin: 54px 0px;
    }

    /* query section */
    .query-section {
        padding: 54px 16px;
    }
    .query-image {
        display: none;
    }
    .input-field{
        float: none;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    .input{
        margin: 0px auto;
    }
    #name-input, #email-input, #subject-input {
        width: 100%;
    }
    #message-input {
        width: 100%;
    }
    .msg-btn{
        margin-right: auto;
    }
}